#citizen_status{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
    background-position: 218px center;
    width: 250px;
    height: 45px;
    border:1px solid #ddd;}